### shubham birari (ml16)


Q.2) Based on the above data frame, Use the programming skill to answer the following questions.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

In [4]:
user_device  = pd.read_csv(r"C:\Users\shubh\Downloads\slip2\slip2\user_device.csv")
user_device

,use_id,user_id,platform,platform_version,device,use_type_id
0,22782,26980,ios,10.2,"iPhone7,2",2
1,22783,29628,android,6.0,Nexus 5,3
2,22784,28473,android,5.1,SM-G903F,1
3,22785,15200,ios,10.2,"iPhone7,2",3
4,22786,28239,android,6.0,ONE E1003,1
...,...,...,...,...,...,...
267,23049,29725,android,6.0,SM-G900F,1
268,23050,29726,ios,10.2,"iPhone7,2",3
269,23051,29726,ios,10.2,"iPhone7,2",3
270,23052,29727,ios,10.1,"iPhone8,4",3
271,23053,20257,android,5.1,Vodafone Smart ultra 6,1

In [5]:
user_usage = pd.read_csv(r"C:\Users\shubh\Downloads\slip2\slip2\user_usage.csv")
user_usage

     outgoing_mins_per_month  outgoing_sms_per_month  monthly_mb  use_id
0                      21.97                    4.82     1557.33   22787
1                    1710.08                  136.88     7267.55   22788
2                    1710.08                  136.88     7267.55   22789
3                      94.46                   35.17      519.12   22790
4                      71.59                   79.26     1557.33   22792
..                       ...                     ...         ...     ...
235                   260.66                   68.44      896.96   25008
236                    97.12                   36.50     2815.00   25040
237                   355.93                   12.37     6828.09   25046
238                   632.06                  120.46     1453.16   25058
239                   488.70                  906.92     3089.85   25220

[240 rows x 4 columns]

In [6]:
combine_df = pd.merge(user_device , user_usage , on = 'use_id')
combine_df

,use_id,user_id,platform,platform_version,device,use_type_id,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb
0,22787,12921,android,4.3,GT-I9505,1,21.97,4.82,1557.33
1,22788,28714,android,6.0,SM-G930F,1,1710.08,136.88,7267.55
2,22789,28714,android,6.0,SM-G930F,1,1710.08,136.88,7267.55
3,22790,29592,android,5.1,D2303,1,94.46,35.17,519.12
4,22792,28217,android,5.1,SM-G361F,1,71.59,79.26,1557.33
...,...,...,...,...,...,...,...,...,...
154,23043,28953,android,6.0,SM-G900F,1,198.59,90.49,5191.12
155,23044,28953,android,6.0,SM-G900F,1,198.59,90.49,3114.67
156,23046,29454,android,6.0,Moto G (4),1,106.65,82.13,5191.12
157,23049,29725,android,6.0,SM-G900F,1,344.53,20.53,519.12
158,23053,20257,android,5.1,Vodafone Smart ultra 6,1,42.75,46.83,5191.12

#### a)	Create the basket for discount on Monthly MB:

In [9]:

def get_monthly_mb_discount(monthly_mb):
    if monthly_mb <= 50:
        return 0.1
    elif monthly_mb <= 1000:
        return 0.04
    elif monthly_mb <= 15000:
        return 0.03
    elif monthly_mb <= 30000:
        return 0.02
    else:
        return 0.0

# Add a new column to the merged dataset with the discount percentages
combine_df['monthly_mb_discount'] = combine_df['monthly_mb'].apply(get_monthly_mb_discount)

In [11]:
combine_df.head()

,use_id,user_id,platform,platform_version,device,use_type_id,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,monthly_mb_discount
0,22787,12921,android,4.3,GT-I9505,1,21.97,4.82,1557.33,0.03
1,22788,28714,android,6.0,SM-G930F,1,1710.08,136.88,7267.55,0.03
2,22789,28714,android,6.0,SM-G930F,1,1710.08,136.88,7267.55,0.03
3,22790,29592,android,5.1,D2303,1,94.46,35.17,519.12,0.04
4,22792,28217,android,5.1,SM-G361F,1,71.59,79.26,1557.33,0.03

In [19]:
combine_df['monthly_mb_discount'].value_counts()

0.03    115
0.04     27
0.02     13
0.10      3
0.00      1
Name: monthly_mb_discount, dtype: int64

#### b) Create the new column “Message” having message for user as mentioned below

In [33]:
def generate_message(monthly_mb):
    bonus_mb = 0
    
    if monthly_mb <= 50:
        bonus_mb = 5
    elif monthly_mb <= 1000:
        bonus_mb = monthly_mb * 0.1
    elif monthly_mb <= 15000:
        bonus_mb = monthly_mb * 0.03
    elif monthly_mb <= 30000:
        bonus_mb = monthly_mb * 0.02
    
    total_mb = monthly_mb + bonus_mb
    
    return f"Greetings, Your Monthly used data is {monthly_mb}MB. You will get {total_mb}MB data to use for the next month."

combine_df['Message'] = combine_df['monthly_mb'].apply(generate_message)

combine_df

,use_id,user_id,platform,platform_version,device,use_type_id,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,monthly_mb_discount,Message
0,22787,12921,android,4.3,GT-I9505,1,21.97,4.82,1557.33,0.03,"Greetings, Your Monthly used data is 1557.33MB..."
1,22788,28714,android,6.0,SM-G930F,1,1710.08,136.88,7267.55,0.03,"Greetings, Your Monthly used data is 7267.55MB..."
2,22789,28714,android,6.0,SM-G930F,1,1710.08,136.88,7267.55,0.03,"Greetings, Your Monthly used data is 7267.55MB..."
3,22790,29592,android,5.1,D2303,1,94.46,35.17,519.12,0.04,"Greetings, Your Monthly used data is 519.12MB...."
4,22792,28217,android,5.1,SM-G361F,1,71.59,79.26,1557.33,0.03,"Greetings, Your Monthly used data is 1557.33MB..."
...,...,...,...,...,...,...,...,...,...,...,...
154,23043,28953,android,6.0,SM-G900F,1,198.59,90.49,5191.12,0.03,"Greetings, Your Monthly used data is 5191.12MB..."
155,23044,28953,android,6.0,SM-G900F,1,198.59,90.49,3114.67,0.03,"Greetings, Your Monthly used data is 3114.67MB..."
156,23046,29454,android,6.0,Moto G (4),1,106.65,82.13,5191.12,0.03,"Greetings, Your Monthly used data is 5191.12MB..."
157,23049,29725,android,6.0,SM-G900F,1,344.53,20.53,519.12,0.04,"Greetings, Your Monthly used data is 519.12MB...."
158,23053,20257,android,5.1,Vodafone Smart ultra 6,1,42.75,46.83,5191.12,0.03,"Greetings, Your Monthly used data is 5191.12MB..."

In [35]:
combine_df['Message']

0      Greetings, Your Monthly used data is 1557.33MB...
1      Greetings, Your Monthly used data is 7267.55MB...
2      Greetings, Your Monthly used data is 7267.55MB...
3      Greetings, Your Monthly used data is 519.12MB....
4      Greetings, Your Monthly used data is 1557.33MB...
                             ...
154    Greetings, Your Monthly used data is 5191.12MB...
155    Greetings, Your Monthly used data is 3114.67MB...
156    Greetings, Your Monthly used data is 5191.12MB...
157    Greetings, Your Monthly used data is 519.12MB....
158    Greetings, Your Monthly used data is 5191.12MB...
Name: Message, Length: 159, dtype: object

#### c) Find

In [36]:
#i) Which platform user uses highest Monthly_mb used

#Group by platform and calculate mean monthly_mb
platform_usage = combine_df.groupby('platform').mean()['monthly_mb']
sorted_platform_usage = platform_usage.sort_values(ascending=False)
highest_platform = sorted_platform_usage.index[0]

print(f"The platform with the highest mean monthly_mb is {highest_platform}")

The platform with the highest mean monthly_mb is android

In [37]:
#ii) Least used device

device_usage = combine_df.groupby('device').sum()['monthly_mb']
sorted_device_usage = device_usage.sort_values()
least_used_device = sorted_device_usage.index[0]

print(f"The least used device is {least_used_device}")

The least used device is HUAWEI CUN-L01

In [39]:
#iii)Count of the IOS users

ios_users = combine_df['platform'].value_counts()['ios']

print(f"The number of IOS users is {ios_users}")

The number of IOS users is 2