# DataFrames

1.DataFrames are the workhorse of pandas and are directly inspired by the R programming language.

2.We can think of a DataFrame as a bunch of Series objects put together to share the same index.

In [3]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [4]:
df = pd.DataFrame(randn(5,4))
df

          0         1         2         3
0 -0.157891  0.503466 -0.776053  0.074058
1  1.581923  1.326739  0.869736 -0.896584
2  0.822602 -0.510895 -1.468215  1.313115
3  0.205880 -0.320122 -0.769344  0.239776
4  1.035155  0.174822 -0.520173 -1.812216

In [3]:
'W-X-Y-Z'.split("-")

['W', 'X', 'Y', 'Z']

In [4]:
df = pd.DataFrame(randn(5,4),index=['A','B','C','D' ,'E'],
                  columns='W X Y Z'.split())

In [5]:
df

          W         X         Y         Z
A -0.767763  0.660504  0.668966 -0.463456
B  1.255684 -0.064614  0.256751 -1.808088
C -1.002467  0.923070  0.722617  1.314495
D -2.068051  0.985353 -0.034651 -0.089781
E -0.544011  0.099837 -0.636896  0.293113

## Selection and Indexing

methods to grab data from a DataFrame

In [6]:
df["W"]

A   -0.767763
B    1.255684
C   -1.002467
D   -2.068051
E   -0.544011
Name: W, dtype: float64

In [7]:
print(type(df["W"]))

<class 'pandas.core.series.Series'>

In [8]:
print(df[['W',"Y"]])
type(df[['W',"Y"]])

          W         Y
A -0.767763  0.668966
B  1.255684  0.256751
C -1.002467  0.722617
D -2.068051 -0.034651
E -0.544011 -0.636896

pandas.core.frame.DataFrame

In [9]:
df

          W         X         Y         Z
A -0.767763  0.660504  0.668966 -0.463456
B  1.255684 -0.064614  0.256751 -1.808088
C -1.002467  0.923070  0.722617  1.314495
D -2.068051  0.985353 -0.034651 -0.089781
E -0.544011  0.099837 -0.636896  0.293113

In [10]:
df

          W         X         Y         Z
A -0.767763  0.660504  0.668966 -0.463456
B  1.255684 -0.064614  0.256751 -1.808088
C -1.002467  0.923070  0.722617  1.314495
D -2.068051  0.985353 -0.034651 -0.089781
E -0.544011  0.099837 -0.636896  0.293113

DataFrame Columns are just Series

In [11]:
type(df['W'])

pandas.core.series.Series

**Creating a new column:**

In [12]:
df['new'] = df['W'] + df['Y']

In [13]:
df['new1'] = [1,2,3,4,5]

In [14]:
df

          W         X         Y         Z       new  new1
A -0.767763  0.660504  0.668966 -0.463456 -0.098796     1
B  1.255684 -0.064614  0.256751 -1.808088  1.512435     2
C -1.002467  0.923070  0.722617  1.314495 -0.279851     3
D -2.068051  0.985353 -0.034651 -0.089781 -2.102702     4
E -0.544011  0.099837 -0.636896  0.293113 -1.180907     5

In [15]:
randn(5,2)

array([[-0.88079861, -0.76467712],
       [-1.16502789,  0.05966052],
       [ 0.15418213, -0.26669924],
       [-0.63395441, -0.77129099],
       [-0.22988838, -0.68072576]])

In [16]:
df['new1'] = randn(5,2)

In [17]:
df

          W         X         Y         Z       new      new1
A -0.767763  0.660504  0.668966 -0.463456 -0.098796 -1.327585
B  1.255684 -0.064614  0.256751 -1.808088  1.512435 -0.633915
C -1.002467  0.923070  0.722617  1.314495 -0.279851  1.276368
D -2.068051  0.985353 -0.034651 -0.089781 -2.102702  1.213534
E -0.544011  0.099837 -0.636896  0.293113 -1.180907 -0.277772

** Removing Columns**

In [18]:
df.drop('A')

          W         X         Y         Z       new      new1
B  1.255684 -0.064614  0.256751 -1.808088  1.512435 -0.633915
C -1.002467  0.923070  0.722617  1.314495 -0.279851  1.276368
D -2.068051  0.985353 -0.034651 -0.089781 -2.102702  1.213534
E -0.544011  0.099837 -0.636896  0.293113 -1.180907 -0.277772

In [19]:
# Not inplace unless specified!
df

          W         X         Y         Z       new      new1
A -0.767763  0.660504  0.668966 -0.463456 -0.098796 -1.327585
B  1.255684 -0.064614  0.256751 -1.808088  1.512435 -0.633915
C -1.002467  0.923070  0.722617  1.314495 -0.279851  1.276368
D -2.068051  0.985353 -0.034651 -0.089781 -2.102702  1.213534
E -0.544011  0.099837 -0.636896  0.293113 -1.180907 -0.277772

In [20]:
dfd=df.drop("B")

In [21]:
dfd

          W         X         Y         Z       new      new1
A -0.767763  0.660504  0.668966 -0.463456 -0.098796 -1.327585
C -1.002467  0.923070  0.722617  1.314495 -0.279851  1.276368
D -2.068051  0.985353 -0.034651 -0.089781 -2.102702  1.213534
E -0.544011  0.099837 -0.636896  0.293113 -1.180907 -0.277772

In [22]:
df.drop('new',axis=1,inplace=True)

In [23]:
df

          W         X         Y         Z      new1
A -0.767763  0.660504  0.668966 -0.463456 -1.327585
B  1.255684 -0.064614  0.256751 -1.808088 -0.633915
C -1.002467  0.923070  0.722617  1.314495  1.276368
D -2.068051  0.985353 -0.034651 -0.089781  1.213534
E -0.544011  0.099837 -0.636896  0.293113 -0.277772

Can also drop rows this way:

In [24]:
df.drop('E',axis=0)

          W         X         Y         Z      new1
A -0.767763  0.660504  0.668966 -0.463456 -1.327585
B  1.255684 -0.064614  0.256751 -1.808088 -0.633915
C -1.002467  0.923070  0.722617  1.314495  1.276368
D -2.068051  0.985353 -0.034651 -0.089781  1.213534

** Selecting Rows**

In [25]:
df

          W         X         Y         Z      new1
A -0.767763  0.660504  0.668966 -0.463456 -1.327585
B  1.255684 -0.064614  0.256751 -1.808088 -0.633915
C -1.002467  0.923070  0.722617  1.314495  1.276368
D -2.068051  0.985353 -0.034651 -0.089781  1.213534
E -0.544011  0.099837 -0.636896  0.293113 -0.277772

In [26]:
df.loc[['A',"B"],"new1"]

A   -1.327585
B   -0.633915
Name: new1, dtype: float64

Or select based off of position instead of label

In [27]:
df

          W         X         Y         Z      new1
A -0.767763  0.660504  0.668966 -0.463456 -1.327585
B  1.255684 -0.064614  0.256751 -1.808088 -0.633915
C -1.002467  0.923070  0.722617  1.314495  1.276368
D -2.068051  0.985353 -0.034651 -0.089781  1.213534
E -0.544011  0.099837 -0.636896  0.293113 -0.277772

In [28]:
#df.iloc['W','A']
df.iloc[2:4,1:]

          X         Y         Z      new1
C  0.923070  0.722617  1.314495  1.276368
D  0.985353 -0.034651 -0.089781  1.213534

** Selecting subset of rows and columns **

In [38]:
df

  index         W         X         Y         Z      new1
0     A -0.767763  0.660504  0.668966 -0.463456 -1.327585
1     B  1.255684 -0.064614  0.256751 -1.808088 -0.633915
2     C -1.002467  0.923070  0.722617  1.314495  1.276368
3     D -2.068051  0.985353 -0.034651 -0.089781  1.213534
4     E -0.544011  0.099837 -0.636896  0.293113 -0.277772

In [30]:
df.loc['B','Y']

0.2567508599091483

In [31]:
df.loc[['A','C'],['X','Z']]

          X         Z
A  0.660504 -0.463456
C  0.923070  1.314495

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [8]:
df['name']=['amas','tama','aaap','cap','qw']
df

          0         1         2         3  name
0 -0.157891  0.503466 -0.776053  0.074058  amas
1  1.581923  1.326739  0.869736 -0.896584  tama
2  0.822602 -0.510895 -1.468215  1.313115  aaap
3  0.205880 -0.320122 -0.769344  0.239776   cap
4  1.035155  0.174822 -0.520173 -1.812216    qw

In [9]:
df.drop("name",axis =1,inplace = True)
df

          0         1         2         3
0 -0.157891  0.503466 -0.776053  0.074058
1  1.581923  1.326739  0.869736 -0.896584
2  0.822602 -0.510895 -1.468215  1.313115
3  0.205880 -0.320122 -0.769344  0.239776
4  1.035155  0.174822 -0.520173 -1.812216

In [10]:
df>0

       0      1      2      3
0  False   True  False   True
1   True   True   True  False
2   True  False  False   True
3   True  False  False   True
4   True   True  False  False

In [11]:
df[df>0]

          0         1         2         3
0       NaN  0.503466       NaN  0.074058
1  1.581923  1.326739  0.869736       NaN
2  0.822602       NaN       NaN  1.313115
3  0.205880       NaN       NaN  0.239776
4  1.035155  0.174822       NaN       NaN

In [ ]:
df[df['W_1']==0]

In [ ]:
df

In [34]:
df[df['W']>0]["new1"]

B   -0.633915
Name: new1, dtype: float64

In [35]:
df[df['W']>0][['Y','X',"W"]]

          Y         X         W
B  0.256751 -0.064614  1.255684

In [ ]:
df.dropna

For two conditions you can use | and & with parenthesis:

In [ ]:
df[(df['W']>0)]

## More Index Details

More features of indexing, including resetting the index or setting it something else.

In [ ]:
df

In [36]:
df

          W         X         Y         Z      new1
A -0.767763  0.660504  0.668966 -0.463456 -1.327585
B  1.255684 -0.064614  0.256751 -1.808088 -0.633915
C -1.002467  0.923070  0.722617  1.314495  1.276368
D -2.068051  0.985353 -0.034651 -0.089781  1.213534
E -0.544011  0.099837 -0.636896  0.293113 -0.277772

In [41]:
# Reset to default 0,1...n index
df.reset_index(inplace = True)

ValueError: cannot insert level_0, already exists

In [42]:
df

   level_0 index         W         X         Y         Z      new1
0        0     A -0.767763  0.660504  0.668966 -0.463456 -1.327585
1        1     B  1.255684 -0.064614  0.256751 -1.808088 -0.633915
2        2     C -1.002467  0.923070  0.722617  1.314495  1.276368
3        3     D -2.068051  0.985353 -0.034651 -0.089781  1.213534
4        4     E -0.544011  0.099837 -0.636896  0.293113 -0.277772

In [43]:
df.columns

Index(['level_0', 'index', 'W', 'X', 'Y', 'Z', 'new1'], dtype='object')

In [44]:
newind = 'CA NY WY OR CO'.split()

In [ ]:
newind

In [45]:
df['States'] = newind

In [46]:
df

   level_0 index         W         X         Y         Z      new1 States
0        0     A -0.767763  0.660504  0.668966 -0.463456 -1.327585     CA
1        1     B  1.255684 -0.064614  0.256751 -1.808088 -0.633915     NY
2        2     C -1.002467  0.923070  0.722617  1.314495  1.276368     WY
3        3     D -2.068051  0.985353 -0.034651 -0.089781  1.213534     OR
4        4     E -0.544011  0.099837 -0.636896  0.293113 -0.277772     CO

In [ ]:
df.set_index('States' ,inplace = True)

In [ ]:
df

In [ ]:
df.reset_index(inplace = True)

In [ ]:
df.set_index('States',inplace=True)

In [ ]:
df

# END

In [ ]:
import numpy as np

In [ ]:
a=np.array([[1,3,4],[9,0,1],[1,0,3]])

In [ ]:
a

In [ ]:
a==1

In [ ]:
a[a==1]=22

In [ ]:
a

In [ ]:
df.iloc[1]

In [ ]:
pd.factorize(df.iloc[1])

In [ ]:
d1={"Gender":['M','F','M','M','F'],"Age":[10,23,22,12,33]}

# practice

In [2]:
df = pd.DataFrame(np.random.randn(5,5))

In [3]:
df

          0         1         2         3         4
0 -2.215841  1.291557  1.341115  0.294239  0.256667
1  0.853138 -0.066847  0.615673  0.121207 -0.193736
2  0.058399 -0.799508  0.527445 -0.931900  1.491515
3 -0.442368  0.924524 -0.033927 -1.143529 -0.606103
4  0.919037  0.169961  0.304533 -0.629181  1.853197

In [9]:
df.index = ['asdb','kjabskjd','kjabdk','sjkbd','jhabdj']

In [10]:
df

                 0         1         2         3         4
asdb     -2.215841  1.291557  1.341115  0.294239  0.256667
kjabskjd  0.853138 -0.066847  0.615673  0.121207 -0.193736
kjabdk    0.058399 -0.799508  0.527445 -0.931900  1.491515
sjkbd    -0.442368  0.924524 -0.033927 -1.143529 -0.606103
jhabdj    0.919037  0.169961  0.304533 -0.629181  1.853197

In [15]:
df.columns = ['shubha','kjdns','jabdj','kjasbd','mjndk']

In [16]:
df

            shubha     kjdns     jabdj    kjasbd     mjndk
asdb     -2.215841  1.291557  1.341115  0.294239  0.256667
kjabskjd  0.853138 -0.066847  0.615673  0.121207 -0.193736
kjabdk    0.058399 -0.799508  0.527445 -0.931900  1.491515
sjkbd    -0.442368  0.924524 -0.033927 -1.143529 -0.606103
jhabdj    0.919037  0.169961  0.304533 -0.629181  1.853197

In [19]:
df.count(axis = 1)

asdb        5
kjabskjd    5
kjabdk      5
sjkbd       5
jhabdj      5
dtype: int64

In [23]:
df.add_prefix('items_')

          items_shubha  items_kjdns  items_jabdj  items_kjasbd  items_mjndk
asdb         -2.215841     1.291557     1.341115      0.294239     0.256667
kjabskjd      0.853138    -0.066847     0.615673      0.121207    -0.193736
kjabdk        0.058399    -0.799508     0.527445     -0.931900     1.491515
sjkbd        -0.442368     0.924524    -0.033927     -1.143529    -0.606103
jhabdj        0.919037     0.169961     0.304533     -0.629181     1.853197

In [25]:
df.add_suffix('items_')

          shubhaitems_  kjdnsitems_  jabdjitems_  kjasbditems_  mjndkitems_
asdb         -2.215841     1.291557     1.341115      0.294239     0.256667
kjabskjd      0.853138    -0.066847     0.615673      0.121207    -0.193736
kjabdk        0.058399    -0.799508     0.527445     -0.931900     1.491515
sjkbd        -0.442368     0.924524    -0.033927     -1.143529    -0.606103
jhabdj        0.919037     0.169961     0.304533     -0.629181     1.853197

In [27]:
type(df)

pandas.core.frame.DataFrame

In [29]:
methods = dir(df)

In [30]:
methods

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_add_numeric_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_summary_and_see_also_doc',
 '_align_frame',
 '_align_series',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_box_col_values',
 '_can_fast_transpose',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_combine_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_data',
 '_dir_additions',
 '_dir_deletions',
 '_dispatch_frame_op',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_flags',
 '_from_arrays',
 '_from_mgr',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cleaned_column_resolvers',
 '_get_column_array',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_copy',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_iset_item',
 '_iset_item_mgr',
 '_iset_not_inplace',
 '_item_cache',
 '_iter_column_arrays',
 '_ixs',
 '_join_compat',
 '_logical_func',
 '_logical_method',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_needs_reindex_multi',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_replace_columnwise',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_series',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_item',
 '_set_item_frame_value',
 '_set_item_mgr',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'backfill',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'jabdj',
 'join',
 'keys',
 'kjasbd',
 'kjdns',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mjndk',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_flags',
 'set_index',
 'shape',
 'shift',
 'shubha',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'to_xml',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'where',
 'xs']

In [1]:
########

In [12]:
import pandas as pd

In [34]:
dt = pd.read_csv(r"C:\Users\shubh\symbiosis ml16\pandas\Advertising.csv")

In [35]:
dt

      Month     TV  ...  newspaper  sales
0    Jan-00  230.1  ...       69.2   22.1
1    Feb-00   44.5  ...       45.1   10.4
2    Mar-00   17.2  ...       69.3    9.3
3    Apr-00  151.5  ...       58.5   18.5
4    May-00  180.8  ...       58.4   12.9
..      ...    ...  ...        ...    ...
195  16-Apr   38.2  ...       13.8    7.6
196  16-May   94.2  ...        8.1    9.7
197  16-Jun  177.0  ...        6.4   12.8
198  16-Jul  283.6  ...       66.2   25.5
199  16-Aug  232.1  ...        8.7   13.4

[200 rows x 5 columns]

In [18]:
dt1 = pd.options.display.max_rows =100

In [19]:
dt1

100

In [20]:
dt

      Month     TV  ...  newspaper  sales
0    Jan-00  230.1  ...       69.2   22.1
1    Feb-00   44.5  ...       45.1   10.4
2    Mar-00   17.2  ...       69.3    9.3
3    Apr-00  151.5  ...       58.5   18.5
4    May-00  180.8  ...       58.4   12.9
..      ...    ...  ...        ...    ...
195  16-Apr   38.2  ...       13.8    7.6
196  16-May   94.2  ...        8.1    9.7
197  16-Jun  177.0  ...        6.4   12.8
198  16-Jul  283.6  ...       66.2   25.5
199  16-Aug  232.1  ...        8.7   13.4

[200 rows x 5 columns]

In [10]:
pd.options.display.max_columns = 4

In [11]:
dt

      Month     TV  ...  newspaper  sales
0    Jan-00  230.1  ...       69.2   22.1
1    Feb-00   44.5  ...       45.1   10.4
2    Mar-00   17.2  ...       69.3    9.3
3    Apr-00  151.5  ...       58.5   18.5
4    May-00  180.8  ...       58.4   12.9
..      ...    ...  ...        ...    ...
195  16-Apr   38.2  ...       13.8    7.6
196  16-May   94.2  ...        8.1    9.7
197  16-Jun  177.0  ...        6.4   12.8
198  16-Jul  283.6  ...       66.2   25.5
199  16-Aug  232.1  ...        8.7   13.4

[200 rows x 5 columns]

In [25]:
import numpy as np
dt.index = np.arange(100,300)

In [26]:
dt.index

Int64Index([100, 101, 102, 103, 104, 105, 106, 107, 108, 109,
            ...
            290, 291, 292, 293, 294, 295, 296, 297, 298, 299],
           dtype='int64', length=200)

In [27]:
dt

      Month     TV  ...  newspaper  sales
100  Jan-00  230.1  ...       69.2   22.1
101  Feb-00   44.5  ...       45.1   10.4
102  Mar-00   17.2  ...       69.3    9.3
103  Apr-00  151.5  ...       58.5   18.5
104  May-00  180.8  ...       58.4   12.9
..      ...    ...  ...        ...    ...
295  16-Apr   38.2  ...       13.8    7.6
296  16-May   94.2  ...        8.1    9.7
297  16-Jun  177.0  ...        6.4   12.8
298  16-Jul  283.6  ...       66.2   25.5
299  16-Aug  232.1  ...        8.7   13.4

[200 rows x 5 columns]

In [32]:
dt2=dt.iloc[7:11, 1:4]

In [36]:
dt.loc[105:250,['TV','radio']]

        TV  radio
105  137.9   46.4
106   25.0   11.0
107   90.4    0.3
108   13.1    0.4
109  255.4   26.9
110  225.8    8.2
111  241.7   38.0
112  175.7   15.4
113  209.6   20.6
114   78.2   46.8
115   75.1   35.0
116  139.2   14.3
117   76.4    0.8
118  125.7   36.9
119   19.4   16.0
120  141.3   26.8
121   18.8   21.7
122  224.0    2.4
123  123.1   34.6
124  229.5   32.3
125   87.2   11.8
126    7.8   38.9
127   80.2    0.0
128  220.3   49.0
129   59.6   12.0
130    0.7   39.6
131  265.2    2.9
132    8.4   27.2
133  219.8   33.5
134   36.9   38.6
135   48.3   47.0
136   25.6   39.0
137  273.7   28.9
138   43.0   25.9
139  184.9   43.9
140   73.4   17.0
141  193.7   35.4
142  220.5   33.2
143  104.6    5.7
144   96.2   14.8
145  140.3    1.9
146  240.1    7.3
147  243.2   49.0
148   38.0   40.3
149   44.7   25.8
150  280.7   13.9
151  121.0    8.4
152  197.6   23.3
153  171.3   39.7
154  187.8   21.1
155    4.1   11.6
156   93.9   43.5
157  149.8    1.3
158   11.7   36.9
159  131.7   18.4
160  172.5   18.1
161   85.7   35.8
162  188.4   18.1
163  163.5   36.8
164  117.2   14.7
165  234.5    3.4
166   17.9   37.6
167  206.8    5.2
168  215.4   23.6
169  284.3   10.6
170   50.0   11.6
171  164.5   20.9
172   19.6   20.1
173  168.4    7.1
174  222.4    3.4
175  276.9   48.9
176  248.4   30.2
177  170.2    7.8
178  276.7    2.3
179  165.6   10.0
180  156.6    2.6
181  218.5    5.4
182   56.2    5.7
183  287.6   43.0
184  253.8   21.3
185  205.0   45.1
186  139.5    2.1
187  191.1   28.7
188  286.0   13.9
189   18.7   12.1
190   39.5   41.1
191   75.5   10.8
192   17.2    4.1
193  166.8   42.0
194  149.7   35.6
195   38.2    3.7
196   94.2    4.9
197  177.0    9.3
198  283.6   42.0
199  232.1    8.6

In [37]:
dt

      Month     TV  ...  newspaper  sales
0    Jan-00  230.1  ...       69.2   22.1
1    Feb-00   44.5  ...       45.1   10.4
2    Mar-00   17.2  ...       69.3    9.3
3    Apr-00  151.5  ...       58.5   18.5
4    May-00  180.8  ...       58.4   12.9
..      ...    ...  ...        ...    ...
195  16-Apr   38.2  ...       13.8    7.6
196  16-May   94.2  ...        8.1    9.7
197  16-Jun  177.0  ...        6.4   12.8
198  16-Jul  283.6  ...       66.2   25.5
199  16-Aug  232.1  ...        8.7   13.4

[200 rows x 5 columns]

In [39]:
dt = dt.iloc[100:300]

In [40]:
dt

      Month     TV  ...  newspaper  sales
100  08-May  222.4  ...       49.8   11.7
101  08-Jun  296.4  ...      100.9   23.8
102  08-Jul  280.2  ...       21.4   14.8
103  08-Aug  187.9  ...       17.9   14.7
104  08-Sep  238.2  ...        5.3   20.7
105  08-Oct  137.9  ...       59.0   19.2
106  08-Nov   25.0  ...       29.7    7.2
107  08-Dec   90.4  ...       23.2    8.7
108  09-Jan   13.1  ...       25.6    5.3
109  09-Feb  255.4  ...        5.5   19.8
110  09-Mar  225.8  ...       56.5   13.4
111  09-Apr  241.7  ...       23.2   21.8
112  09-May  175.7  ...        2.4   14.1
113  09-Jun  209.6  ...       10.7   15.9
114  09-Jul   78.2  ...       34.5   14.6
115  09-Aug   75.1  ...       52.7   12.6
116  09-Sep  139.2  ...       25.6   12.2
117  09-Oct   76.4  ...       14.8    9.4
118  09-Nov  125.7  ...       79.2   15.9
119  09-Dec   19.4  ...       22.3    6.6
120  10-Jan  141.3  ...       46.2   15.5
121  10-Feb   18.8  ...       50.4    7.0
122  10-Mar  224.0  ...       15.6   11.6
123  10-Apr  123.1  ...       12.4   15.2
124  10-May  229.5  ...       74.2   19.7
125  10-Jun   87.2  ...       25.9   10.6
126  10-Jul    7.8  ...       50.6    6.6
127  10-Aug   80.2  ...        9.2    8.8
128  10-Sep  220.3  ...        3.2   24.7
129  10-Oct   59.6  ...       43.1    9.7
130  10-Nov    0.7  ...        8.7    1.6
131  10-Dec  265.2  ...       43.0   12.7
132  11-Jan    8.4  ...        2.1    5.7
133  11-Feb  219.8  ...       45.1   19.6
134  11-Mar   36.9  ...       65.6   10.8
135  11-Apr   48.3  ...        8.5   11.6
136  11-May   25.6  ...        9.3    9.5
137  11-Jun  273.7  ...       59.7   20.8
138  11-Jul   43.0  ...       20.5    9.6
139  11-Aug  184.9  ...        1.7   20.7
140  11-Sep   73.4  ...       12.9   10.9
141  11-Oct  193.7  ...       75.6   19.2
142  11-Nov  220.5  ...       37.9   20.1
143  11-Dec  104.6  ...       34.4   10.4
144  12-Jan   96.2  ...       38.9   11.4
145  12-Feb  140.3  ...        9.0   10.3
146  12-Mar  240.1  ...        8.7   13.2
147  12-Apr  243.2  ...       44.3   25.4
148  12-May   38.0  ...       11.9   10.9
149  12-Jun   44.7  ...       20.6   10.1
150  12-Jul  280.7  ...       37.0   16.1
151  12-Aug  121.0  ...       48.7   11.6
152  12-Sep  197.6  ...       14.2   16.6
153  12-Oct  171.3  ...       37.7   19.0
154  12-Nov  187.8  ...        9.5   15.6
155  12-Dec    4.1  ...        5.7    3.2
156  13-Jan   93.9  ...       50.5   15.3
157  13-Feb  149.8  ...       24.3   10.1
158  13-Mar   11.7  ...       45.2    7.3
159  13-Apr  131.7  ...       34.6   12.9
160  13-May  172.5  ...       30.7   14.4
161  13-Jun   85.7  ...       49.3   13.3
162  13-Jul  188.4  ...       25.6   14.9
163  13-Aug  163.5  ...        7.4   18.0
164  13-Sep  117.2  ...        5.4   11.9
165  13-Oct  234.5  ...       84.8   11.9
166  13-Nov   17.9  ...       21.6    8.0
167  13-Dec  206.8  ...       19.4   12.2
168  14-Jan  215.4  ...       57.6   17.1
169  14-Feb  284.3  ...        6.4   15.0
170  14-Mar   50.0  ...       18.4    8.4
171  14-Apr  164.5  ...       47.4   14.5
172  14-May   19.6  ...       17.0    7.6
173  14-Jun  168.4  ...       12.8   11.7
174  14-Jul  222.4  ...       13.1   11.5
175  14-Aug  276.9  ...       41.8   27.0
176  14-Sep  248.4  ...       20.3   20.2
177  14-Oct  170.2  ...       35.2   11.7
178  14-Nov  276.7  ...       23.7   11.8
179  14-Dec  165.6  ...       17.6   12.6
180  15-Jan  156.6  ...        8.3   10.5
181  15-Feb  218.5  ...       27.4   12.2
182  15-Mar   56.2  ...       29.7    8.7
183  15-Apr  287.6  ...       71.8   26.2
184  15-May  253.8  ...       30.0   17.6
185  15-Jun  205.0  ...       19.6   22.6
186  15-Jul  139.5  ...       26.6   10.3
187  15-Aug  191.1  ...       18.2   17.3
188  15-Sep  286.0  ...        3.7   15.9
189  15-Oct   18.7  ...       23.4    6.7
190  15-Nov   39.5  ...        5.8   10.8
191  15-Dec   75.5  ...        6.0    9.9
192  16-Jan   17.2  ...       31.6    5.9
193  16-Feb  166.8  ...        3.6   19.6
194  16-Mar  149.7  ...        6.0   17.3
195  16-Apr   38.2  ...       13.8    7.6
196  16-May   94.2  ...        8.1    9.7
197  16-Jun  177.0  ...        6.4   12.8
198  16-Jul  283.6  ...       66.2   25.5
199  16-Aug  232.1  ...        8.7   13.4

[100 rows x 5 columns]

In [46]:

dt.set_index("Month",inplace=True)

In [49]:
dt

           TV  radio  newspaper  sales
Month
08-May  222.4    4.3       49.8   11.7
08-Jun  296.4   36.3      100.9   23.8
08-Jul  280.2   10.1       21.4   14.8
08-Aug  187.9   17.2       17.9   14.7
08-Sep  238.2   34.3        5.3   20.7
08-Oct  137.9   46.4       59.0   19.2
08-Nov   25.0   11.0       29.7    7.2
08-Dec   90.4    0.3       23.2    8.7
09-Jan   13.1    0.4       25.6    5.3
09-Feb  255.4   26.9        5.5   19.8
09-Mar  225.8    8.2       56.5   13.4
09-Apr  241.7   38.0       23.2   21.8
09-May  175.7   15.4        2.4   14.1
09-Jun  209.6   20.6       10.7   15.9
09-Jul   78.2   46.8       34.5   14.6
09-Aug   75.1   35.0       52.7   12.6
09-Sep  139.2   14.3       25.6   12.2
09-Oct   76.4    0.8       14.8    9.4
09-Nov  125.7   36.9       79.2   15.9
09-Dec   19.4   16.0       22.3    6.6
10-Jan  141.3   26.8       46.2   15.5
10-Feb   18.8   21.7       50.4    7.0
10-Mar  224.0    2.4       15.6   11.6
10-Apr  123.1   34.6       12.4   15.2
10-May  229.5   32.3       74.2   19.7
10-Jun   87.2   11.8       25.9   10.6
10-Jul    7.8   38.9       50.6    6.6
10-Aug   80.2    0.0        9.2    8.8
10-Sep  220.3   49.0        3.2   24.7
10-Oct   59.6   12.0       43.1    9.7
10-Nov    0.7   39.6        8.7    1.6
10-Dec  265.2    2.9       43.0   12.7
11-Jan    8.4   27.2        2.1    5.7
11-Feb  219.8   33.5       45.1   19.6
11-Mar   36.9   38.6       65.6   10.8
11-Apr   48.3   47.0        8.5   11.6
11-May   25.6   39.0        9.3    9.5
11-Jun  273.7   28.9       59.7   20.8
11-Jul   43.0   25.9       20.5    9.6
11-Aug  184.9   43.9        1.7   20.7
11-Sep   73.4   17.0       12.9   10.9
11-Oct  193.7   35.4       75.6   19.2
11-Nov  220.5   33.2       37.9   20.1
11-Dec  104.6    5.7       34.4   10.4
12-Jan   96.2   14.8       38.9   11.4
12-Feb  140.3    1.9        9.0   10.3
12-Mar  240.1    7.3        8.7   13.2
12-Apr  243.2   49.0       44.3   25.4
12-May   38.0   40.3       11.9   10.9
12-Jun   44.7   25.8       20.6   10.1
12-Jul  280.7   13.9       37.0   16.1
12-Aug  121.0    8.4       48.7   11.6
12-Sep  197.6   23.3       14.2   16.6
12-Oct  171.3   39.7       37.7   19.0
12-Nov  187.8   21.1        9.5   15.6
12-Dec    4.1   11.6        5.7    3.2
13-Jan   93.9   43.5       50.5   15.3
13-Feb  149.8    1.3       24.3   10.1
13-Mar   11.7   36.9       45.2    7.3
13-Apr  131.7   18.4       34.6   12.9
13-May  172.5   18.1       30.7   14.4
13-Jun   85.7   35.8       49.3   13.3
13-Jul  188.4   18.1       25.6   14.9
13-Aug  163.5   36.8        7.4   18.0
13-Sep  117.2   14.7        5.4   11.9
13-Oct  234.5    3.4       84.8   11.9
13-Nov   17.9   37.6       21.6    8.0
13-Dec  206.8    5.2       19.4   12.2
14-Jan  215.4   23.6       57.6   17.1
14-Feb  284.3   10.6        6.4   15.0
14-Mar   50.0   11.6       18.4    8.4
14-Apr  164.5   20.9       47.4   14.5
14-May   19.6   20.1       17.0    7.6
14-Jun  168.4    7.1       12.8   11.7
14-Jul  222.4    3.4       13.1   11.5
14-Aug  276.9   48.9       41.8   27.0
14-Sep  248.4   30.2       20.3   20.2
14-Oct  170.2    7.8       35.2   11.7
14-Nov  276.7    2.3       23.7   11.8
14-Dec  165.6   10.0       17.6   12.6
15-Jan  156.6    2.6        8.3   10.5
15-Feb  218.5    5.4       27.4   12.2
15-Mar   56.2    5.7       29.7    8.7
15-Apr  287.6   43.0       71.8   26.2
15-May  253.8   21.3       30.0   17.6
15-Jun  205.0   45.1       19.6   22.6
15-Jul  139.5    2.1       26.6   10.3
15-Aug  191.1   28.7       18.2   17.3
15-Sep  286.0   13.9        3.7   15.9
15-Oct   18.7   12.1       23.4    6.7
15-Nov   39.5   41.1        5.8   10.8
15-Dec   75.5   10.8        6.0    9.9
16-Jan   17.2    4.1       31.6    5.9
16-Feb  166.8   42.0        3.6   19.6
16-Mar  149.7   35.6        6.0   17.3
16-Apr   38.2    3.7       13.8    7.6
16-May   94.2    4.9        8.1    9.7
16-Jun  177.0    9.3        6.4   12.8
16-Jul  283.6   42.0       66.2   25.5
16-Aug  232.1    8.6        8.7   13.4

In [51]:
dt.reset_index(inplace=True)

In [52]:
dt

     Month     TV  ...  newspaper  sales
0   08-May  222.4  ...       49.8   11.7
1   08-Jun  296.4  ...      100.9   23.8
2   08-Jul  280.2  ...       21.4   14.8
3   08-Aug  187.9  ...       17.9   14.7
4   08-Sep  238.2  ...        5.3   20.7
5   08-Oct  137.9  ...       59.0   19.2
6   08-Nov   25.0  ...       29.7    7.2
7   08-Dec   90.4  ...       23.2    8.7
8   09-Jan   13.1  ...       25.6    5.3
9   09-Feb  255.4  ...        5.5   19.8
10  09-Mar  225.8  ...       56.5   13.4
11  09-Apr  241.7  ...       23.2   21.8
12  09-May  175.7  ...        2.4   14.1
13  09-Jun  209.6  ...       10.7   15.9
14  09-Jul   78.2  ...       34.5   14.6
15  09-Aug   75.1  ...       52.7   12.6
16  09-Sep  139.2  ...       25.6   12.2
17  09-Oct   76.4  ...       14.8    9.4
18  09-Nov  125.7  ...       79.2   15.9
19  09-Dec   19.4  ...       22.3    6.6
20  10-Jan  141.3  ...       46.2   15.5
21  10-Feb   18.8  ...       50.4    7.0
22  10-Mar  224.0  ...       15.6   11.6
23  10-Apr  123.1  ...       12.4   15.2
24  10-May  229.5  ...       74.2   19.7
25  10-Jun   87.2  ...       25.9   10.6
26  10-Jul    7.8  ...       50.6    6.6
27  10-Aug   80.2  ...        9.2    8.8
28  10-Sep  220.3  ...        3.2   24.7
29  10-Oct   59.6  ...       43.1    9.7
30  10-Nov    0.7  ...        8.7    1.6
31  10-Dec  265.2  ...       43.0   12.7
32  11-Jan    8.4  ...        2.1    5.7
33  11-Feb  219.8  ...       45.1   19.6
34  11-Mar   36.9  ...       65.6   10.8
35  11-Apr   48.3  ...        8.5   11.6
36  11-May   25.6  ...        9.3    9.5
37  11-Jun  273.7  ...       59.7   20.8
38  11-Jul   43.0  ...       20.5    9.6
39  11-Aug  184.9  ...        1.7   20.7
40  11-Sep   73.4  ...       12.9   10.9
41  11-Oct  193.7  ...       75.6   19.2
42  11-Nov  220.5  ...       37.9   20.1
43  11-Dec  104.6  ...       34.4   10.4
44  12-Jan   96.2  ...       38.9   11.4
45  12-Feb  140.3  ...        9.0   10.3
46  12-Mar  240.1  ...        8.7   13.2
47  12-Apr  243.2  ...       44.3   25.4
48  12-May   38.0  ...       11.9   10.9
49  12-Jun   44.7  ...       20.6   10.1
50  12-Jul  280.7  ...       37.0   16.1
51  12-Aug  121.0  ...       48.7   11.6
52  12-Sep  197.6  ...       14.2   16.6
53  12-Oct  171.3  ...       37.7   19.0
54  12-Nov  187.8  ...        9.5   15.6
55  12-Dec    4.1  ...        5.7    3.2
56  13-Jan   93.9  ...       50.5   15.3
57  13-Feb  149.8  ...       24.3   10.1
58  13-Mar   11.7  ...       45.2    7.3
59  13-Apr  131.7  ...       34.6   12.9
60  13-May  172.5  ...       30.7   14.4
61  13-Jun   85.7  ...       49.3   13.3
62  13-Jul  188.4  ...       25.6   14.9
63  13-Aug  163.5  ...        7.4   18.0
64  13-Sep  117.2  ...        5.4   11.9
65  13-Oct  234.5  ...       84.8   11.9
66  13-Nov   17.9  ...       21.6    8.0
67  13-Dec  206.8  ...       19.4   12.2
68  14-Jan  215.4  ...       57.6   17.1
69  14-Feb  284.3  ...        6.4   15.0
70  14-Mar   50.0  ...       18.4    8.4
71  14-Apr  164.5  ...       47.4   14.5
72  14-May   19.6  ...       17.0    7.6
73  14-Jun  168.4  ...       12.8   11.7
74  14-Jul  222.4  ...       13.1   11.5
75  14-Aug  276.9  ...       41.8   27.0
76  14-Sep  248.4  ...       20.3   20.2
77  14-Oct  170.2  ...       35.2   11.7
78  14-Nov  276.7  ...       23.7   11.8
79  14-Dec  165.6  ...       17.6   12.6
80  15-Jan  156.6  ...        8.3   10.5
81  15-Feb  218.5  ...       27.4   12.2
82  15-Mar   56.2  ...       29.7    8.7
83  15-Apr  287.6  ...       71.8   26.2
84  15-May  253.8  ...       30.0   17.6
85  15-Jun  205.0  ...       19.6   22.6
86  15-Jul  139.5  ...       26.6   10.3
87  15-Aug  191.1  ...       18.2   17.3
88  15-Sep  286.0  ...        3.7   15.9
89  15-Oct   18.7  ...       23.4    6.7
90  15-Nov   39.5  ...        5.8   10.8
91  15-Dec   75.5  ...        6.0    9.9
92  16-Jan   17.2  ...       31.6    5.9
93  16-Feb  166.8  ...        3.6   19.6
94  16-Mar  149.7  ...        6.0   17.3
95  16-Apr   38.2  ...       13.8    7.6
96  16-May   94.2  ...        8.1    9.7
97  16-Jun  177.0  ...        6.4   12.8
98  16-Jul  283.6  ...       66.2   25.5
99  16-Aug  232.1  ...        8.7   13.4

[100 rows x 5 columns]

In [53]:
dt.loc[50:100]

     Month     TV  ...  newspaper  sales
50  12-Jul  280.7  ...       37.0   16.1
51  12-Aug  121.0  ...       48.7   11.6
52  12-Sep  197.6  ...       14.2   16.6
53  12-Oct  171.3  ...       37.7   19.0
54  12-Nov  187.8  ...        9.5   15.6
55  12-Dec    4.1  ...        5.7    3.2
56  13-Jan   93.9  ...       50.5   15.3
57  13-Feb  149.8  ...       24.3   10.1
58  13-Mar   11.7  ...       45.2    7.3
59  13-Apr  131.7  ...       34.6   12.9
60  13-May  172.5  ...       30.7   14.4
61  13-Jun   85.7  ...       49.3   13.3
62  13-Jul  188.4  ...       25.6   14.9
63  13-Aug  163.5  ...        7.4   18.0
64  13-Sep  117.2  ...        5.4   11.9
65  13-Oct  234.5  ...       84.8   11.9
66  13-Nov   17.9  ...       21.6    8.0
67  13-Dec  206.8  ...       19.4   12.2
68  14-Jan  215.4  ...       57.6   17.1
69  14-Feb  284.3  ...        6.4   15.0
70  14-Mar   50.0  ...       18.4    8.4
71  14-Apr  164.5  ...       47.4   14.5
72  14-May   19.6  ...       17.0    7.6
73  14-Jun  168.4  ...       12.8   11.7
74  14-Jul  222.4  ...       13.1   11.5
75  14-Aug  276.9  ...       41.8   27.0
76  14-Sep  248.4  ...       20.3   20.2
77  14-Oct  170.2  ...       35.2   11.7
78  14-Nov  276.7  ...       23.7   11.8
79  14-Dec  165.6  ...       17.6   12.6
80  15-Jan  156.6  ...        8.3   10.5
81  15-Feb  218.5  ...       27.4   12.2
82  15-Mar   56.2  ...       29.7    8.7
83  15-Apr  287.6  ...       71.8   26.2
84  15-May  253.8  ...       30.0   17.6
85  15-Jun  205.0  ...       19.6   22.6
86  15-Jul  139.5  ...       26.6   10.3
87  15-Aug  191.1  ...       18.2   17.3
88  15-Sep  286.0  ...        3.7   15.9
89  15-Oct   18.7  ...       23.4    6.7
90  15-Nov   39.5  ...        5.8   10.8
91  15-Dec   75.5  ...        6.0    9.9
92  16-Jan   17.2  ...       31.6    5.9
93  16-Feb  166.8  ...        3.6   19.6
94  16-Mar  149.7  ...        6.0   17.3
95  16-Apr   38.2  ...       13.8    7.6
96  16-May   94.2  ...        8.1    9.7
97  16-Jun  177.0  ...        6.4   12.8
98  16-Jul  283.6  ...       66.2   25.5
99  16-Aug  232.1  ...        8.7   13.4

[50 rows x 5 columns]

In [60]:
dt.loc[50:100,'Month':'TV']

     Month     TV
50  12-Jul  280.7
51  12-Aug  121.0
52  12-Sep  197.6
53  12-Oct  171.3
54  12-Nov  187.8
55  12-Dec    4.1
56  13-Jan   93.9
57  13-Feb  149.8
58  13-Mar   11.7
59  13-Apr  131.7
60  13-May  172.5
61  13-Jun   85.7
62  13-Jul  188.4
63  13-Aug  163.5
64  13-Sep  117.2
65  13-Oct  234.5
66  13-Nov   17.9
67  13-Dec  206.8
68  14-Jan  215.4
69  14-Feb  284.3
70  14-Mar   50.0
71  14-Apr  164.5
72  14-May   19.6
73  14-Jun  168.4
74  14-Jul  222.4
75  14-Aug  276.9
76  14-Sep  248.4
77  14-Oct  170.2
78  14-Nov  276.7
79  14-Dec  165.6
80  15-Jan  156.6
81  15-Feb  218.5
82  15-Mar   56.2
83  15-Apr  287.6
84  15-May  253.8
85  15-Jun  205.0
86  15-Jul  139.5
87  15-Aug  191.1
88  15-Sep  286.0
89  15-Oct   18.7
90  15-Nov   39.5
91  15-Dec   75.5
92  16-Jan   17.2
93  16-Feb  166.8
94  16-Mar  149.7
95  16-Apr   38.2
96  16-May   94.2
97  16-Jun  177.0
98  16-Jul  283.6
99  16-Aug  232.1

In [59]:
dt

     Month     TV  ...  newspaper  sales
0   08-May  222.4  ...       49.8   11.7
1   08-Jun  296.4  ...      100.9   23.8
2   08-Jul  280.2  ...       21.4   14.8
3   08-Aug  187.9  ...       17.9   14.7
4   08-Sep  238.2  ...        5.3   20.7
5   08-Oct  137.9  ...       59.0   19.2
6   08-Nov   25.0  ...       29.7    7.2
7   08-Dec   90.4  ...       23.2    8.7
8   09-Jan   13.1  ...       25.6    5.3
9   09-Feb  255.4  ...        5.5   19.8
10  09-Mar  225.8  ...       56.5   13.4
11  09-Apr  241.7  ...       23.2   21.8
12  09-May  175.7  ...        2.4   14.1
13  09-Jun  209.6  ...       10.7   15.9
14  09-Jul   78.2  ...       34.5   14.6
15  09-Aug   75.1  ...       52.7   12.6
16  09-Sep  139.2  ...       25.6   12.2
17  09-Oct   76.4  ...       14.8    9.4
18  09-Nov  125.7  ...       79.2   15.9
19  09-Dec   19.4  ...       22.3    6.6
20  10-Jan  141.3  ...       46.2   15.5
21  10-Feb   18.8  ...       50.4    7.0
22  10-Mar  224.0  ...       15.6   11.6
23  10-Apr  123.1  ...       12.4   15.2
24  10-May  229.5  ...       74.2   19.7
25  10-Jun   87.2  ...       25.9   10.6
26  10-Jul    7.8  ...       50.6    6.6
27  10-Aug   80.2  ...        9.2    8.8
28  10-Sep  220.3  ...        3.2   24.7
29  10-Oct   59.6  ...       43.1    9.7
30  10-Nov    0.7  ...        8.7    1.6
31  10-Dec  265.2  ...       43.0   12.7
32  11-Jan    8.4  ...        2.1    5.7
33  11-Feb  219.8  ...       45.1   19.6
34  11-Mar   36.9  ...       65.6   10.8
35  11-Apr   48.3  ...        8.5   11.6
36  11-May   25.6  ...        9.3    9.5
37  11-Jun  273.7  ...       59.7   20.8
38  11-Jul   43.0  ...       20.5    9.6
39  11-Aug  184.9  ...        1.7   20.7
40  11-Sep   73.4  ...       12.9   10.9
41  11-Oct  193.7  ...       75.6   19.2
42  11-Nov  220.5  ...       37.9   20.1
43  11-Dec  104.6  ...       34.4   10.4
44  12-Jan   96.2  ...       38.9   11.4
45  12-Feb  140.3  ...        9.0   10.3
46  12-Mar  240.1  ...        8.7   13.2
47  12-Apr  243.2  ...       44.3   25.4
48  12-May   38.0  ...       11.9   10.9
49  12-Jun   44.7  ...       20.6   10.1
50  12-Jul  280.7  ...       37.0   16.1
51  12-Aug  121.0  ...       48.7   11.6
52  12-Sep  197.6  ...       14.2   16.6
53  12-Oct  171.3  ...       37.7   19.0
54  12-Nov  187.8  ...        9.5   15.6
55  12-Dec    4.1  ...        5.7    3.2
56  13-Jan   93.9  ...       50.5   15.3
57  13-Feb  149.8  ...       24.3   10.1
58  13-Mar   11.7  ...       45.2    7.3
59  13-Apr  131.7  ...       34.6   12.9
60  13-May  172.5  ...       30.7   14.4
61  13-Jun   85.7  ...       49.3   13.3
62  13-Jul  188.4  ...       25.6   14.9
63  13-Aug  163.5  ...        7.4   18.0
64  13-Sep  117.2  ...        5.4   11.9
65  13-Oct  234.5  ...       84.8   11.9
66  13-Nov   17.9  ...       21.6    8.0
67  13-Dec  206.8  ...       19.4   12.2
68  14-Jan  215.4  ...       57.6   17.1
69  14-Feb  284.3  ...        6.4   15.0
70  14-Mar   50.0  ...       18.4    8.4
71  14-Apr  164.5  ...       47.4   14.5
72  14-May   19.6  ...       17.0    7.6
73  14-Jun  168.4  ...       12.8   11.7
74  14-Jul  222.4  ...       13.1   11.5
75  14-Aug  276.9  ...       41.8   27.0
76  14-Sep  248.4  ...       20.3   20.2
77  14-Oct  170.2  ...       35.2   11.7
78  14-Nov  276.7  ...       23.7   11.8
79  14-Dec  165.6  ...       17.6   12.6
80  15-Jan  156.6  ...        8.3   10.5
81  15-Feb  218.5  ...       27.4   12.2
82  15-Mar   56.2  ...       29.7    8.7
83  15-Apr  287.6  ...       71.8   26.2
84  15-May  253.8  ...       30.0   17.6
85  15-Jun  205.0  ...       19.6   22.6
86  15-Jul  139.5  ...       26.6   10.3
87  15-Aug  191.1  ...       18.2   17.3
88  15-Sep  286.0  ...        3.7   15.9
89  15-Oct   18.7  ...       23.4    6.7
90  15-Nov   39.5  ...        5.8   10.8
91  15-Dec   75.5  ...        6.0    9.9
92  16-Jan   17.2  ...       31.6    5.9
93  16-Feb  166.8  ...        3.6   19.6
94  16-Mar  149.7  ...        6.0   17.3
95  16-Apr   38.2  ...       13.8    7.6
96  16-May   94.2  ...        8.1    9.7
97  16-Jun  177.0  ...        6.4   12.8
98  16-Jul  283.6  ...       66.2   25.5
99  16-Aug  232.1  ...        8.7   13.4

[100 rows x 5 columns]

In [63]:
dt[['Month','TV']]

     Month     TV
0   08-May  222.4
1   08-Jun  296.4
2   08-Jul  280.2
3   08-Aug  187.9
4   08-Sep  238.2
5   08-Oct  137.9
6   08-Nov   25.0
7   08-Dec   90.4
8   09-Jan   13.1
9   09-Feb  255.4
10  09-Mar  225.8
11  09-Apr  241.7
12  09-May  175.7
13  09-Jun  209.6
14  09-Jul   78.2
15  09-Aug   75.1
16  09-Sep  139.2
17  09-Oct   76.4
18  09-Nov  125.7
19  09-Dec   19.4
20  10-Jan  141.3
21  10-Feb   18.8
22  10-Mar  224.0
23  10-Apr  123.1
24  10-May  229.5
25  10-Jun   87.2
26  10-Jul    7.8
27  10-Aug   80.2
28  10-Sep  220.3
29  10-Oct   59.6
30  10-Nov    0.7
31  10-Dec  265.2
32  11-Jan    8.4
33  11-Feb  219.8
34  11-Mar   36.9
35  11-Apr   48.3
36  11-May   25.6
37  11-Jun  273.7
38  11-Jul   43.0
39  11-Aug  184.9
40  11-Sep   73.4
41  11-Oct  193.7
42  11-Nov  220.5
43  11-Dec  104.6
44  12-Jan   96.2
45  12-Feb  140.3
46  12-Mar  240.1
47  12-Apr  243.2
48  12-May   38.0
49  12-Jun   44.7
50  12-Jul  280.7
51  12-Aug  121.0
52  12-Sep  197.6
53  12-Oct  171.3
54  12-Nov  187.8
55  12-Dec    4.1
56  13-Jan   93.9
57  13-Feb  149.8
58  13-Mar   11.7
59  13-Apr  131.7
60  13-May  172.5
61  13-Jun   85.7
62  13-Jul  188.4
63  13-Aug  163.5
64  13-Sep  117.2
65  13-Oct  234.5
66  13-Nov   17.9
67  13-Dec  206.8
68  14-Jan  215.4
69  14-Feb  284.3
70  14-Mar   50.0
71  14-Apr  164.5
72  14-May   19.6
73  14-Jun  168.4
74  14-Jul  222.4
75  14-Aug  276.9
76  14-Sep  248.4
77  14-Oct  170.2
78  14-Nov  276.7
79  14-Dec  165.6
80  15-Jan  156.6
81  15-Feb  218.5
82  15-Mar   56.2
83  15-Apr  287.6
84  15-May  253.8
85  15-Jun  205.0
86  15-Jul  139.5
87  15-Aug  191.1
88  15-Sep  286.0
89  15-Oct   18.7
90  15-Nov   39.5
91  15-Dec   75.5
92  16-Jan   17.2
93  16-Feb  166.8
94  16-Mar  149.7
95  16-Apr   38.2
96  16-May   94.2
97  16-Jun  177.0
98  16-Jul  283.6
99  16-Aug  232.1

In [71]:
dt3 = dt.drop(["Month"],axis=0)

KeyError: "['Month'] not found in axis"

In [70]:
dt.columns("Month")

TypeError: 'Index' object is not callable

In [72]:
tt = pd.read_csv(r"C:\Users\shubh\symbiosis ml16\pandas\titanic-train.csv")

In [73]:
tt

     PassengerId  Survived  ...  Cabin Embarked
0              1         0  ...    NaN        S
1              2         1  ...    C85        C
2              3         1  ...    NaN        S
3              4         1  ...   C123        S
4              5         0  ...    NaN        S
..           ...       ...  ...    ...      ...
886          887         0  ...    NaN        S
887          888         1  ...    B42        S
888          889         0  ...    NaN        S
889          890         1  ...   C148        C
890          891         0  ...    NaN        Q

[891 rows x 12 columns]

In [74]:
tt.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [76]:
tt.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [77]:
for i in tt.columns:
    print(i)
    print(tt[i].isna().sum())

PassengerId
0
Survived
0
Pclass
0
Name
0
Sex
0
Age
177
SibSp
0
Parch
0
Ticket
0
Fare
0
Cabin
687
Embarked
2

In [90]:
null_percentages = tt.isnull().sum() / len(tt) * 100

print(null_percentages)

PassengerId     0.000000
Survived        0.000000
Pclass          0.000000
Name            0.000000
Sex             0.000000
Age            19.865320
SibSp           0.000000
Parch           0.000000
Ticket          0.000000
Fare            0.000000
Cabin          77.104377
Embarked        0.224467
dtype: float64

In [143]:
tt

     PassengerId  Survived  ...  Cabin Embarked
0              1         0  ...    NaN        S
1              2         1  ...    C85        C
2              3         1  ...    NaN        S
3              4         1  ...   C123        S
4              5         0  ...    NaN        S
..           ...       ...  ...    ...      ...
886          887         0  ...    NaN        S
887          888         1  ...    B42        S
888          889         0  ...    NaN        S
889          890         1  ...   C148        C
890          891         0  ...    NaN        Q

[891 rows x 12 columns]

KeyError: 'percentages'

In [92]:
dt

     Month     TV  ...  newspaper  sales
0   08-May  222.4  ...       49.8   11.7
1   08-Jun  296.4  ...      100.9   23.8
2   08-Jul  280.2  ...       21.4   14.8
3   08-Aug  187.9  ...       17.9   14.7
4   08-Sep  238.2  ...        5.3   20.7
5   08-Oct  137.9  ...       59.0   19.2
6   08-Nov   25.0  ...       29.7    7.2
7   08-Dec   90.4  ...       23.2    8.7
8   09-Jan   13.1  ...       25.6    5.3
9   09-Feb  255.4  ...        5.5   19.8
10  09-Mar  225.8  ...       56.5   13.4
11  09-Apr  241.7  ...       23.2   21.8
12  09-May  175.7  ...        2.4   14.1
13  09-Jun  209.6  ...       10.7   15.9
14  09-Jul   78.2  ...       34.5   14.6
15  09-Aug   75.1  ...       52.7   12.6
16  09-Sep  139.2  ...       25.6   12.2
17  09-Oct   76.4  ...       14.8    9.4
18  09-Nov  125.7  ...       79.2   15.9
19  09-Dec   19.4  ...       22.3    6.6
20  10-Jan  141.3  ...       46.2   15.5
21  10-Feb   18.8  ...       50.4    7.0
22  10-Mar  224.0  ...       15.6   11.6
23  10-Apr  123.1  ...       12.4   15.2
24  10-May  229.5  ...       74.2   19.7
25  10-Jun   87.2  ...       25.9   10.6
26  10-Jul    7.8  ...       50.6    6.6
27  10-Aug   80.2  ...        9.2    8.8
28  10-Sep  220.3  ...        3.2   24.7
29  10-Oct   59.6  ...       43.1    9.7
30  10-Nov    0.7  ...        8.7    1.6
31  10-Dec  265.2  ...       43.0   12.7
32  11-Jan    8.4  ...        2.1    5.7
33  11-Feb  219.8  ...       45.1   19.6
34  11-Mar   36.9  ...       65.6   10.8
35  11-Apr   48.3  ...        8.5   11.6
36  11-May   25.6  ...        9.3    9.5
37  11-Jun  273.7  ...       59.7   20.8
38  11-Jul   43.0  ...       20.5    9.6
39  11-Aug  184.9  ...        1.7   20.7
40  11-Sep   73.4  ...       12.9   10.9
41  11-Oct  193.7  ...       75.6   19.2
42  11-Nov  220.5  ...       37.9   20.1
43  11-Dec  104.6  ...       34.4   10.4
44  12-Jan   96.2  ...       38.9   11.4
45  12-Feb  140.3  ...        9.0   10.3
46  12-Mar  240.1  ...        8.7   13.2
47  12-Apr  243.2  ...       44.3   25.4
48  12-May   38.0  ...       11.9   10.9
49  12-Jun   44.7  ...       20.6   10.1
50  12-Jul  280.7  ...       37.0   16.1
51  12-Aug  121.0  ...       48.7   11.6
52  12-Sep  197.6  ...       14.2   16.6
53  12-Oct  171.3  ...       37.7   19.0
54  12-Nov  187.8  ...        9.5   15.6
55  12-Dec    4.1  ...        5.7    3.2
56  13-Jan   93.9  ...       50.5   15.3
57  13-Feb  149.8  ...       24.3   10.1
58  13-Mar   11.7  ...       45.2    7.3
59  13-Apr  131.7  ...       34.6   12.9
60  13-May  172.5  ...       30.7   14.4
61  13-Jun   85.7  ...       49.3   13.3
62  13-Jul  188.4  ...       25.6   14.9
63  13-Aug  163.5  ...        7.4   18.0
64  13-Sep  117.2  ...        5.4   11.9
65  13-Oct  234.5  ...       84.8   11.9
66  13-Nov   17.9  ...       21.6    8.0
67  13-Dec  206.8  ...       19.4   12.2
68  14-Jan  215.4  ...       57.6   17.1
69  14-Feb  284.3  ...        6.4   15.0
70  14-Mar   50.0  ...       18.4    8.4
71  14-Apr  164.5  ...       47.4   14.5
72  14-May   19.6  ...       17.0    7.6
73  14-Jun  168.4  ...       12.8   11.7
74  14-Jul  222.4  ...       13.1   11.5
75  14-Aug  276.9  ...       41.8   27.0
76  14-Sep  248.4  ...       20.3   20.2
77  14-Oct  170.2  ...       35.2   11.7
78  14-Nov  276.7  ...       23.7   11.8
79  14-Dec  165.6  ...       17.6   12.6
80  15-Jan  156.6  ...        8.3   10.5
81  15-Feb  218.5  ...       27.4   12.2
82  15-Mar   56.2  ...       29.7    8.7
83  15-Apr  287.6  ...       71.8   26.2
84  15-May  253.8  ...       30.0   17.6
85  15-Jun  205.0  ...       19.6   22.6
86  15-Jul  139.5  ...       26.6   10.3
87  15-Aug  191.1  ...       18.2   17.3
88  15-Sep  286.0  ...        3.7   15.9
89  15-Oct   18.7  ...       23.4    6.7
90  15-Nov   39.5  ...        5.8   10.8
91  15-Dec   75.5  ...        6.0    9.9
92  16-Jan   17.2  ...       31.6    5.9
93  16-Feb  166.8  ...        3.6   19.6
94  16-Mar  149.7  ...        6.0   17.3
95  16-Apr   38.2  ...       13.8    7.6
96  16-May   94.2  ...        8.1    9.7
97  16-Jun  177.0  ...        6.4   12.8
98  16-Jul  283.6  ...       66.2   25.5
99  16-Aug  232.1  ...        8.7   13.4

[100 rows x 5 columns]

In [94]:
dt['percentage'] = dt['sales'[i]]/dt['newspaper'[i]]

TypeError: string indices must be integers

In [107]:
dt[dt['sales']]

KeyError: "None of [Float64Index([11.7, 23.8, 14.8, 14.7, 20.7, 19.2,  7.2,  8.7,  5.3, 19.8, 13.4,\n              21.8, 14.1, 15.9, 14.6, 12.6, 12.2,  9.4, 15.9,  6.6, 15.5,  7.0,\n              11.6, 15.2, 19.7, 10.6,  6.6,  8.8, 24.7,  9.7,  1.6, 12.7,  5.7,\n              19.6, 10.8, 11.6,  9.5, 20.8,  9.6, 20.7, 10.9, 19.2, 20.1, 10.4,\n              11.4, 10.3, 13.2, 25.4, 10.9, 10.1, 16.1, 11.6, 16.6, 19.0, 15.6,\n               3.2, 15.3, 10.1,  7.3, 12.9, 14.4, 13.3, 14.9, 18.0, 11.9, 11.9,\n               8.0, 12.2, 17.1, 15.0,  8.4, 14.5,  7.6, 11.7, 11.5, 27.0, 20.2,\n              11.7, 11.8, 12.6, 10.5, 12.2,  8.7, 26.2, 17.6, 22.6, 10.3, 17.3,\n              15.9,  6.7, 10.8,  9.9,  5.9, 19.6, 17.3,  7.6,  9.7, 12.8, 25.5,\n              13.4],\n             dtype='float64')] are in the [columns]"

In [102]:
import numpy as np

# Iterate over rows and calculate percentage
percentage_list = []
for i in range(len(dt)):
    if dt.loc[i, 'newspaper'] != 0:
        percentage = np.divide(dt.loc[i, 'sales'], dt.loc[i, 'newspaper'])
        percentage_list.append(percentage)
    else:
        percentage_list.append(np.nan)

# Add percentage column to DataFrame
dt['percentage'] = percentage_list

C:\Users\shubh\AppData\Local\Temp/ipykernel_8968/3154866135.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dt['percentage'] = percentage_list

In [103]:
dt

     Month     TV  ...  sales  percentage
0   08-May  222.4  ...   11.7    0.234940
1   08-Jun  296.4  ...   23.8    0.235877
2   08-Jul  280.2  ...   14.8    0.691589
3   08-Aug  187.9  ...   14.7    0.821229
4   08-Sep  238.2  ...   20.7    3.905660
5   08-Oct  137.9  ...   19.2    0.325424
6   08-Nov   25.0  ...    7.2    0.242424
7   08-Dec   90.4  ...    8.7    0.375000
8   09-Jan   13.1  ...    5.3    0.207031
9   09-Feb  255.4  ...   19.8    3.600000
10  09-Mar  225.8  ...   13.4    0.237168
11  09-Apr  241.7  ...   21.8    0.939655
12  09-May  175.7  ...   14.1    5.875000
13  09-Jun  209.6  ...   15.9    1.485981
14  09-Jul   78.2  ...   14.6    0.423188
15  09-Aug   75.1  ...   12.6    0.239089
16  09-Sep  139.2  ...   12.2    0.476562
17  09-Oct   76.4  ...    9.4    0.635135
18  09-Nov  125.7  ...   15.9    0.200758
19  09-Dec   19.4  ...    6.6    0.295964
20  10-Jan  141.3  ...   15.5    0.335498
21  10-Feb   18.8  ...    7.0    0.138889
22  10-Mar  224.0  ...   11.6    0.743590
23  10-Apr  123.1  ...   15.2    1.225806
24  10-May  229.5  ...   19.7    0.265499
25  10-Jun   87.2  ...   10.6    0.409266
26  10-Jul    7.8  ...    6.6    0.130435
27  10-Aug   80.2  ...    8.8    0.956522
28  10-Sep  220.3  ...   24.7    7.718750
29  10-Oct   59.6  ...    9.7    0.225058
30  10-Nov    0.7  ...    1.6    0.183908
31  10-Dec  265.2  ...   12.7    0.295349
32  11-Jan    8.4  ...    5.7    2.714286
33  11-Feb  219.8  ...   19.6    0.434590
34  11-Mar   36.9  ...   10.8    0.164634
35  11-Apr   48.3  ...   11.6    1.364706
36  11-May   25.6  ...    9.5    1.021505
37  11-Jun  273.7  ...   20.8    0.348409
38  11-Jul   43.0  ...    9.6    0.468293
39  11-Aug  184.9  ...   20.7   12.176471
40  11-Sep   73.4  ...   10.9    0.844961
41  11-Oct  193.7  ...   19.2    0.253968
42  11-Nov  220.5  ...   20.1    0.530343
43  11-Dec  104.6  ...   10.4    0.302326
44  12-Jan   96.2  ...   11.4    0.293059
45  12-Feb  140.3  ...   10.3    1.144444
46  12-Mar  240.1  ...   13.2    1.517241
47  12-Apr  243.2  ...   25.4    0.573363
48  12-May   38.0  ...   10.9    0.915966
49  12-Jun   44.7  ...   10.1    0.490291
50  12-Jul  280.7  ...   16.1    0.435135
51  12-Aug  121.0  ...   11.6    0.238193
52  12-Sep  197.6  ...   16.6    1.169014
53  12-Oct  171.3  ...   19.0    0.503979
54  12-Nov  187.8  ...   15.6    1.642105
55  12-Dec    4.1  ...    3.2    0.561404
56  13-Jan   93.9  ...   15.3    0.302970
57  13-Feb  149.8  ...   10.1    0.415638
58  13-Mar   11.7  ...    7.3    0.161504
59  13-Apr  131.7  ...   12.9    0.372832
60  13-May  172.5  ...   14.4    0.469055
61  13-Jun   85.7  ...   13.3    0.269777
62  13-Jul  188.4  ...   14.9    0.582031
63  13-Aug  163.5  ...   18.0    2.432432
64  13-Sep  117.2  ...   11.9    2.203704
65  13-Oct  234.5  ...   11.9    0.140330
66  13-Nov   17.9  ...    8.0    0.370370
67  13-Dec  206.8  ...   12.2    0.628866
68  14-Jan  215.4  ...   17.1    0.296875
69  14-Feb  284.3  ...   15.0    2.343750
70  14-Mar   50.0  ...    8.4    0.456522
71  14-Apr  164.5  ...   14.5    0.305907
72  14-May   19.6  ...    7.6    0.447059
73  14-Jun  168.4  ...   11.7    0.914062
74  14-Jul  222.4  ...   11.5    0.877863
75  14-Aug  276.9  ...   27.0    0.645933
76  14-Sep  248.4  ...   20.2    0.995074
77  14-Oct  170.2  ...   11.7    0.332386
78  14-Nov  276.7  ...   11.8    0.497890
79  14-Dec  165.6  ...   12.6    0.715909
80  15-Jan  156.6  ...   10.5    1.265060
81  15-Feb  218.5  ...   12.2    0.445255
82  15-Mar   56.2  ...    8.7    0.292929
83  15-Apr  287.6  ...   26.2    0.364903
84  15-May  253.8  ...   17.6    0.586667
85  15-Jun  205.0  ...   22.6    1.153061
86  15-Jul  139.5  ...   10.3    0.387218
87  15-Aug  191.1  ...   17.3    0.950549
88  15-Sep  286.0  ...   15.9    4.297297
89  15-Oct   18.7  ...    6.7    0.286325
90  15-Nov   39.5  ...   10.8    1.862069
91  15-Dec   75.5  ...    9.9    1.650000
92  16-Jan   17.2  ...    5.9    0.186709
93  16-Feb  166.8  ...   19.6    5.444444
94  16-Mar  149.7  ...   17.3    2.883333
95  16-Apr   38.2  ...    7.6    0.550725
96  16-May   94.2  ...    9.7    1.197531
97  16-Jun  177.0  ...   12.8    2.000000
98  16-Jul  283.6  ...   25.5    0.385196
99  16-Aug  232.1  ...   13.4    1.540230

[100 rows x 6 columns]

In [108]:
dt[(dt['sales']<1717)&(dt['TV']>200)]

     Month     TV  ...  sales  percentage
0   08-May  222.4  ...   11.7    0.234940
1   08-Jun  296.4  ...   23.8    0.235877
2   08-Jul  280.2  ...   14.8    0.691589
4   08-Sep  238.2  ...   20.7    3.905660
9   09-Feb  255.4  ...   19.8    3.600000
10  09-Mar  225.8  ...   13.4    0.237168
11  09-Apr  241.7  ...   21.8    0.939655
13  09-Jun  209.6  ...   15.9    1.485981
22  10-Mar  224.0  ...   11.6    0.743590
24  10-May  229.5  ...   19.7    0.265499
28  10-Sep  220.3  ...   24.7    7.718750
31  10-Dec  265.2  ...   12.7    0.295349
33  11-Feb  219.8  ...   19.6    0.434590
37  11-Jun  273.7  ...   20.8    0.348409
42  11-Nov  220.5  ...   20.1    0.530343
46  12-Mar  240.1  ...   13.2    1.517241
47  12-Apr  243.2  ...   25.4    0.573363
50  12-Jul  280.7  ...   16.1    0.435135
65  13-Oct  234.5  ...   11.9    0.140330
67  13-Dec  206.8  ...   12.2    0.628866
68  14-Jan  215.4  ...   17.1    0.296875
69  14-Feb  284.3  ...   15.0    2.343750
74  14-Jul  222.4  ...   11.5    0.877863
75  14-Aug  276.9  ...   27.0    0.645933
76  14-Sep  248.4  ...   20.2    0.995074
78  14-Nov  276.7  ...   11.8    0.497890
81  15-Feb  218.5  ...   12.2    0.445255
83  15-Apr  287.6  ...   26.2    0.364903
84  15-May  253.8  ...   17.6    0.586667
85  15-Jun  205.0  ...   22.6    1.153061
88  15-Sep  286.0  ...   15.9    4.297297
98  16-Jul  283.6  ...   25.5    0.385196
99  16-Aug  232.1  ...   13.4    1.540230

[33 rows x 6 columns]

In [109]:
# display maximum values of all columns
print(dt.max())

# display minimum values of all columns
print(dt.min())

Month            16-May
TV                296.4
radio              49.0
newspaper         100.9
sales              27.0
percentage    12.176471
dtype: object
Month           08-Aug
TV                 0.7
radio              0.0
newspaper          1.7
sales              1.6
percentage    0.130435
dtype: object

In [110]:
dt.columns

Index(['Month', 'TV', 'radio', 'newspaper', 'sales', 'percentage'], dtype='object')

In [111]:
dt.describe

<bound method NDFrame.describe of      Month     TV  ...  sales  percentage
0   08-May  222.4  ...   11.7    0.234940
1   08-Jun  296.4  ...   23.8    0.235877
2   08-Jul  280.2  ...   14.8    0.691589
3   08-Aug  187.9  ...   14.7    0.821229
4   08-Sep  238.2  ...   20.7    3.905660
5   08-Oct  137.9  ...   19.2    0.325424
6   08-Nov   25.0  ...    7.2    0.242424
7   08-Dec   90.4  ...    8.7    0.375000
8   09-Jan   13.1  ...    5.3    0.207031
9   09-Feb  255.4  ...   19.8    3.600000
10  09-Mar  225.8  ...   13.4    0.237168
11  09-Apr  241.7  ...   21.8    0.939655
12  09-May  175.7  ...   14.1    5.875000
13  09-Jun  209.6  ...   15.9    1.485981
14  09-Jul   78.2  ...   14.6    0.423188
15  09-Aug   75.1  ...   12.6    0.239089
16  09-Sep  139.2  ...   12.2    0.476562
17  09-Oct   76.4  ...    9.4    0.635135
18  09-Nov  125.7  ...   15.9    0.200758
19  09-Dec   19.4  ...    6.6    0.295964
20  10-Jan  141.3  ...   15.5    0.335498
21  10-Feb   18.8  ...    7.0    0.138889
22  10-Mar  224.0  ...   11.6    0.743590
23  10-Apr  123.1  ...   15.2    1.225806
24  10-May  229.5  ...   19.7    0.265499
25  10-Jun   87.2  ...   10.6    0.409266
26  10-Jul    7.8  ...    6.6    0.130435
27  10-Aug   80.2  ...    8.8    0.956522
28  10-Sep  220.3  ...   24.7    7.718750
29  10-Oct   59.6  ...    9.7    0.225058
30  10-Nov    0.7  ...    1.6    0.183908
31  10-Dec  265.2  ...   12.7    0.295349
32  11-Jan    8.4  ...    5.7    2.714286
33  11-Feb  219.8  ...   19.6    0.434590
34  11-Mar   36.9  ...   10.8    0.164634
35  11-Apr   48.3  ...   11.6    1.364706
36  11-May   25.6  ...    9.5    1.021505
37  11-Jun  273.7  ...   20.8    0.348409
38  11-Jul   43.0  ...    9.6    0.468293
39  11-Aug  184.9  ...   20.7   12.176471
40  11-Sep   73.4  ...   10.9    0.844961
41  11-Oct  193.7  ...   19.2    0.253968
42  11-Nov  220.5  ...   20.1    0.530343
43  11-Dec  104.6  ...   10.4    0.302326
44  12-Jan   96.2  ...   11.4    0.293059
45  12-Feb  140.3  ...   10.3    1.144444
46  12-Mar  240.1  ...   13.2    1.517241
47  12-Apr  243.2  ...   25.4    0.573363
48  12-May   38.0  ...   10.9    0.915966
49  12-Jun   44.7  ...   10.1    0.490291
50  12-Jul  280.7  ...   16.1    0.435135
51  12-Aug  121.0  ...   11.6    0.238193
52  12-Sep  197.6  ...   16.6    1.169014
53  12-Oct  171.3  ...   19.0    0.503979
54  12-Nov  187.8  ...   15.6    1.642105
55  12-Dec    4.1  ...    3.2    0.561404
56  13-Jan   93.9  ...   15.3    0.302970
57  13-Feb  149.8  ...   10.1    0.415638
58  13-Mar   11.7  ...    7.3    0.161504
59  13-Apr  131.7  ...   12.9    0.372832
60  13-May  172.5  ...   14.4    0.469055
61  13-Jun   85.7  ...   13.3    0.269777
62  13-Jul  188.4  ...   14.9    0.582031
63  13-Aug  163.5  ...   18.0    2.432432
64  13-Sep  117.2  ...   11.9    2.203704
65  13-Oct  234.5  ...   11.9    0.140330
66  13-Nov   17.9  ...    8.0    0.370370
67  13-Dec  206.8  ...   12.2    0.628866
68  14-Jan  215.4  ...   17.1    0.296875
69  14-Feb  284.3  ...   15.0    2.343750
70  14-Mar   50.0  ...    8.4    0.456522
71  14-Apr  164.5  ...   14.5    0.305907
72  14-May   19.6  ...    7.6    0.447059
73  14-Jun  168.4  ...   11.7    0.914062
74  14-Jul  222.4  ...   11.5    0.877863
75  14-Aug  276.9  ...   27.0    0.645933
76  14-Sep  248.4  ...   20.2    0.995074
77  14-Oct  170.2  ...   11.7    0.332386
78  14-Nov  276.7  ...   11.8    0.497890
79  14-Dec  165.6  ...   12.6    0.715909
80  15-Jan  156.6  ...   10.5    1.265060
81  15-Feb  218.5  ...   12.2    0.445255
82  15-Mar   56.2  ...    8.7    0.292929
83  15-Apr  287.6  ...   26.2    0.364903
84  15-May  253.8  ...   17.6    0.586667
85  15-Jun  205.0  ...   22.6    1.153061
86  15-Jul  139.5  ...   10.3    0.387218
87  15-Aug  191.1  ...   17.3    0.950549
88  15-Sep  286.0  ...   15.9    4.297297
89  15-Oct   18.7  ...    6.7    0.286325
90  15-Nov   39.5  ...   10.8    1.862069
91  15-Dec   75.5  ...    9.9    1.650000
92  16-Jan   17.2  ...    5.9    0.186709
93  16-Feb  166.8  ...   19.6    5.444444
94  16-Mar  149.7  ...   17.3    2.883333
95  16-Apr   38.2  ...    7.6    0.550725
96  16-May   94.2  ...    9.7    1.197531
97  16-Jun  177.0  ...   12.8    2.000000
98  16-Jul  283.6  ...   25.5    0.385196
99  16-Aug  232.1  ...   13.4    1.540230

[100 rows x 6 columns]>

In [112]:
dt[dt['TV']>200]

     Month     TV  ...  sales  percentage
0   08-May  222.4  ...   11.7    0.234940
1   08-Jun  296.4  ...   23.8    0.235877
2   08-Jul  280.2  ...   14.8    0.691589
4   08-Sep  238.2  ...   20.7    3.905660
9   09-Feb  255.4  ...   19.8    3.600000
10  09-Mar  225.8  ...   13.4    0.237168
11  09-Apr  241.7  ...   21.8    0.939655
13  09-Jun  209.6  ...   15.9    1.485981
22  10-Mar  224.0  ...   11.6    0.743590
24  10-May  229.5  ...   19.7    0.265499
28  10-Sep  220.3  ...   24.7    7.718750
31  10-Dec  265.2  ...   12.7    0.295349
33  11-Feb  219.8  ...   19.6    0.434590
37  11-Jun  273.7  ...   20.8    0.348409
42  11-Nov  220.5  ...   20.1    0.530343
46  12-Mar  240.1  ...   13.2    1.517241
47  12-Apr  243.2  ...   25.4    0.573363
50  12-Jul  280.7  ...   16.1    0.435135
65  13-Oct  234.5  ...   11.9    0.140330
67  13-Dec  206.8  ...   12.2    0.628866
68  14-Jan  215.4  ...   17.1    0.296875
69  14-Feb  284.3  ...   15.0    2.343750
74  14-Jul  222.4  ...   11.5    0.877863
75  14-Aug  276.9  ...   27.0    0.645933
76  14-Sep  248.4  ...   20.2    0.995074
78  14-Nov  276.7  ...   11.8    0.497890
81  15-Feb  218.5  ...   12.2    0.445255
83  15-Apr  287.6  ...   26.2    0.364903
84  15-May  253.8  ...   17.6    0.586667
85  15-Jun  205.0  ...   22.6    1.153061
88  15-Sep  286.0  ...   15.9    4.297297
98  16-Jul  283.6  ...   25.5    0.385196
99  16-Aug  232.1  ...   13.4    1.540230

[33 rows x 6 columns]

In [114]:
dt['TV']

0     222.4
1     296.4
2     280.2
3     187.9
4     238.2
5     137.9
6      25.0
7      90.4
8      13.1
9     255.4
10    225.8
11    241.7
12    175.7
13    209.6
14     78.2
15     75.1
16    139.2
17     76.4
18    125.7
19     19.4
20    141.3
21     18.8
22    224.0
23    123.1
24    229.5
25     87.2
26      7.8
27     80.2
28    220.3
29     59.6
30      0.7
31    265.2
32      8.4
33    219.8
34     36.9
35     48.3
36     25.6
37    273.7
38     43.0
39    184.9
40     73.4
41    193.7
42    220.5
43    104.6
44     96.2
45    140.3
46    240.1
47    243.2
48     38.0
49     44.7
50    280.7
51    121.0
52    197.6
53    171.3
54    187.8
55      4.1
56     93.9
57    149.8
58     11.7
59    131.7
60    172.5
61     85.7
62    188.4
63    163.5
64    117.2
65    234.5
66     17.9
67    206.8
68    215.4
69    284.3
70     50.0
71    164.5
72     19.6
73    168.4
74    222.4
75    276.9
76    248.4
77    170.2
78    276.7
79    165.6
80    156.6
81    218.5
82     56.2
83    287.6
84    253.8
85    205.0
86    139.5
87    191.1
88    286.0
89     18.7
90     39.5
91     75.5
92     17.2
93    166.8
94    149.7
95     38.2
96     94.2
97    177.0
98    283.6
99    232.1
Name: TV, dtype: float64

In [115]:
for col in dt.columns:
    max_val = dt[col].max()
    min_val = dt[col].min()
    print(f"Max value of {col}: {max_val}")
    print(f"Min value of {col}: {min_val}")

Max value of Month: 16-May
Min value of Month: 08-Aug
Max value of TV: 296.4
Min value of TV: 0.7
Max value of radio: 49.0
Min value of radio: 0.0
Max value of newspaper: 100.9
Min value of newspaper: 1.7
Max value of sales: 27.0
Min value of sales: 1.6
Max value of percentage: 12.176470588235293
Min value of percentage: 0.13043478260869565

In [124]:
dt.loc[dt['TV']>200],[['sales','Month']]

(     Month     TV  ...  sales  percentage
 0   08-May  222.4  ...   11.7    0.234940
 1   08-Jun  296.4  ...   23.8    0.235877
 2   08-Jul  280.2  ...   14.8    0.691589
 4   08-Sep  238.2  ...   20.7    3.905660
 9   09-Feb  255.4  ...   19.8    3.600000
 10  09-Mar  225.8  ...   13.4    0.237168
 11  09-Apr  241.7  ...   21.8    0.939655
 13  09-Jun  209.6  ...   15.9    1.485981
 22  10-Mar  224.0  ...   11.6    0.743590
 24  10-May  229.5  ...   19.7    0.265499
 28  10-Sep  220.3  ...   24.7    7.718750
 31  10-Dec  265.2  ...   12.7    0.295349
 33  11-Feb  219.8  ...   19.6    0.434590
 37  11-Jun  273.7  ...   20.8    0.348409
 42  11-Nov  220.5  ...   20.1    0.530343
 46  12-Mar  240.1  ...   13.2    1.517241
 47  12-Apr  243.2  ...   25.4    0.573363
 50  12-Jul  280.7  ...   16.1    0.435135
 65  13-Oct  234.5  ...   11.9    0.140330
 67  13-Dec  206.8  ...   12.2    0.628866
 68  14-Jan  215.4  ...   17.1    0.296875
 69  14-Feb  284.3  ...   15.0    2.343750
 74  14-Jul  222.4  ...   11.5    0.877863
 75  14-Aug  276.9  ...   27.0    0.645933
 76  14-Sep  248.4  ...   20.2    0.995074
 78  14-Nov  276.7  ...   11.8    0.497890
 81  15-Feb  218.5  ...   12.2    0.445255
 83  15-Apr  287.6  ...   26.2    0.364903
 84  15-May  253.8  ...   17.6    0.586667
 85  15-Jun  205.0  ...   22.6    1.153061
 88  15-Sep  286.0  ...   15.9    4.297297
 98  16-Jul  283.6  ...   25.5    0.385196
 99  16-Aug  232.1  ...   13.4    1.540230

 [33 rows x 6 columns],
 [['sales', 'Month']])

In [131]:
tt.Survived.unique()

array([0, 1], dtype=int64)

In [127]:
tt

     PassengerId  Survived  ...  Cabin Embarked
0              1         0  ...    NaN        S
1              2         1  ...    C85        C
2              3         1  ...    NaN        S
3              4         1  ...   C123        S
4              5         0  ...    NaN        S
..           ...       ...  ...    ...      ...
886          887         0  ...    NaN        S
887          888         1  ...    B42        S
888          889         0  ...    NaN        S
889          890         1  ...   C148        C
890          891         0  ...    NaN        Q

[891 rows x 12 columns]

In [132]:
bnk = pd.read_csv(r"C:\Users\shubh\symbiosis ml16\pandas\bank.csv")

In [138]:
bnk.describe(include="all")

                age         job  ... poutcome     y
count   4521.000000        4521  ...     4521  4521
unique          NaN          12  ...        4     2
top             NaN  management  ...  unknown    no
freq            NaN         969  ...     3705  4000
mean      41.170095         NaN  ...      NaN   NaN
std       10.576211         NaN  ...      NaN   NaN
min       19.000000         NaN  ...      NaN   NaN
25%       33.000000         NaN  ...      NaN   NaN
50%       39.000000         NaN  ...      NaN   NaN
75%       49.000000         NaN  ...      NaN   NaN
max       87.000000         NaN  ...      NaN   NaN

[11 rows x 17 columns]

In [134]:
bnk.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

AttributeError: 'DataFrame' object has no attribute 'rows'

In [139]:
bnk.head()

   age          job  ... poutcome   y
0   30   unemployed  ...  unknown  no
1   33     services  ...  failure  no
2   35   management  ...  failure  no
3   30   management  ...  unknown  no
4   59  blue-collar  ...  unknown  no

[5 rows x 17 columns]

In [140]:
bnk.tail()

      age            job  ... poutcome   y
4516   33       services  ...  unknown  no
4517   57  self-employed  ...  unknown  no
4518   57     technician  ...  unknown  no
4519   28    blue-collar  ...    other  no
4520   44   entrepreneur  ...    other  no

[5 rows x 17 columns]

In [141]:
bnk.job[i]

'unemployed'

In [142]:
for i in bnk.job():
    print(i)

TypeError: 'Series' object is not callable

In [2]:
pd.read_json(r"C:\Users\shubh\Downloads\schedules.json")

,arrival,day,train_name,station_name,station_code,id,train_number,departure
0,None,1.0,Falaknuma Lingampalli MMTS,KACHEGUDA FALAKNUMA,FM,302214,47154,07:55:00
1,None,1.0,Thrissur Guruvayur Passenger,THRISUR,TCR,281458,56044,18:55:00
2,None,1.0,Porbandar Muzaffarpur Express,PORBANDAR,PBR,309335,19269,15:05:00
3,None,1.0,RAIPUR ITWARI PASS,RAIPUR JN,R,283774,58205,13:30:00
4,None,1.0,Gomoh-Asansol MEMU,GOMOH JN,GMO,319937,63542,07:20:00
...,...,...,...,...,...,...,...,...
417075,12:39:00,2.0,HOWRAH - JAYNAGAR Passenger,RAJANAGAR,RJA,424266,53041,12:39:00
417076,12:46:00,2.0,HOWRAH - JAYNAGAR Passenger,LALIT LAKSHMIPR,LLPR,424267,53041,12:47:00
417077,12:59:00,2.0,HOWRAH - JAYNAGAR Passenger,KHAJAULI,KJI,424268,53041,13:00:00
417078,13:09:00,2.0,HOWRAH - JAYNAGAR Passenger,KORAHIA,KRHA,424269,53041,13:10:00
417079,14:20:00,2.0,HOWRAH - JAYNAGAR Passenger,JAYNAGAR,JYG,424270,53041,None

In [4]:
pd.read_json(r"C:\Users\shubh\Downloads\trains.json")

                   type                                           features
0     FeatureCollection  {'geometry': {'type': 'LineString', 'coordinat...
1     FeatureCollection  {'geometry': {'type': 'LineString', 'coordinat...
2     FeatureCollection  {'geometry': {'type': 'LineString', 'coordinat...
3     FeatureCollection  {'geometry': {'type': 'LineString', 'coordinat...
4     FeatureCollection  {'geometry': {'type': 'LineString', 'coordinat...
...                 ...                                                ...
5203  FeatureCollection  {'geometry': {'type': 'LineString', 'coordinat...
5204  FeatureCollection  {'geometry': {'type': 'LineString', 'coordinat...
5205  FeatureCollection  {'geometry': {'type': 'LineString', 'coordinat...
5206  FeatureCollection  {'geometry': {'type': 'LineString', 'coordinat...
5207  FeatureCollection  {'geometry': {'type': 'LineString', 'coordinat...

[5208 rows x 2 columns]