### shubham birari (ml16)

DATA SET: Glass Data Set
This data is the result of a chemical composition of the glass. Based on chemical composition type of glass is defined.  

Q 3 . Using a suitable machine learning technique, develop a suitable model to predict, if glass can be used for household purpose.

In [1]:
import pandas as pd
glass_df = pd.read_csv(r"C:\Users\shubh\Downloads\slip2\slip2\glass.csv")

In [2]:
glass_df

      Id       RI     Na    Mg    Al     Si     K    Ca    Ba   Fe  Type
0      1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0     1
1      2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0     1
2      3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0     1
3      4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0     1
4      5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0     1
..   ...      ...    ...   ...   ...    ...   ...   ...   ...  ...   ...
209  210  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0     7
210  211  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0     7
211  212  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0     7
212  213  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0     7
213  214  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0     7

[214 rows x 11 columns]

In [3]:
glass_df["household"] = glass_df["Type"].apply(lambda x: 1 if x in [1, 2, 5, 6] else 0)

glass_df["household"] = glass_df["Type"].apply(lambda x: 1 if x in [1, 2, 5, 6] else 0)

In [4]:
glass_df = glass_df.drop("Type", axis=1)

In [5]:
X = glass_df.drop("household", axis=1)
y = glass_df["household"]

In [6]:
glass_df

      Id       RI     Na    Mg    Al     Si     K    Ca    Ba   Fe  household
0      1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0          1
1      2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0          1
2      3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0          1
3      4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0          1
4      5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0          1
..   ...      ...    ...   ...   ...    ...   ...   ...   ...  ...        ...
209  210  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0          0
210  211  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0          0
211  212  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0          0
212  213  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0          0
213  214  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0          0

[214 rows x 11 columns]

In [7]:
from sklearn.model_selection import train_test_split

# Split the dataset 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [8]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()

# Fit the model on the training data
logreg.fit(X_train, y_train)

LogisticRegression()

In [9]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

# Make predictions on the testing data
y_pred = logreg.predict(X_test)

# Evaluate the model performance using metrics such as accuracy, precision, recall, and F1 score
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

print("Accuracy:", accuracy)
print("Precision:", precision)
print("Recall:", recall)
print("F1 score:", f1)

Accuracy: 0.9302325581395349
Precision: 0.967741935483871
Recall: 0.9375
F1 score: 0.9523809523809523

In [10]:
from sklearn.metrics import classification_report

# Obtain a summary of the model's performance using the classification_report function
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.83      0.91      0.87        11
           1       0.97      0.94      0.95        32

    accuracy                           0.93        43
   macro avg       0.90      0.92      0.91        43
weighted avg       0.93      0.93      0.93        43